
/*
 * node-runkeeper - Node Client for Runkeeper Health Graph API
 *
 * config.js.example:  Example config file
 *
 * Fill in your own credentials obtained from here:  http://runkeeper.com/partner/applications
 *
 */

var options = exports.options = {

    // Client ID:
    // This value is the OAuth 2.0 client ID for your application.    
    client_id : "< client id >",

    // Client Secret:
    // This value is the OAuth 2.0 shared secret for your application.
    client_secret : "< client secret >",
    
    // Authorization URL:
    // This is the URL to which your application should redirect the user in order to authorize access to his or her RunKeeper account.
    auth_url : "https://runkeeper.com/apps/authorize",

    // Access Token URL:
    // This is the URL at which your application can convert an authorization code to an access token.
    access_token_url : "https://runkeeper.com/apps/token",

    // Redirect URI:
    // This is the URL that RK sends user to after successful auth
    // URI naming based on Runkeeper convention
    redirect_uri : "< redirect uri >"

};




