extends layout

block append header
	script(type='text/javascript', src='/js/run-client.js')
	script(type='text/javascript')
		var runs = !{JSON.stringify(activities)};
		$(document).ready(function() {
			initializeRuns();
		});


block append main
	div.row
		div.span8
			h1 Export

			p
				small Please 
					a(href='mailto:eagerfeet@me.com').
						let me know 
					| if there are any issues with the files you are downloading. Including your user ID (#{userID}) will help me debug.

			div.alert.alert-warning
				p I am working on an update to make GPS data available again. This will likely be done by the end of the weekend. Stay tuned for updates.

			div#checking
				p Checking for new runs ...
				div#progressbar.progress.progress-striped.active
					div.bar(style="width: 100%;")
			div#runs
				div#run-list
