extends layout

block append main
	div.row
		div.logo.span12
			img(src='/img/header.png', width='820', height='110')
	div.row
		div.span8
			h1 Welcome to eagerfeet!
			p This website allows you to export your run data from Nike+ so you can import it into programs or other websites like Strava or RunKeeper. The data is exported using a format called GPX, which is a common exchange format for GPS data. Heart rate data is included when available.
			p Use the button below to log in using your Nike+ credentials. Once logged in, you will see a list of your runs. Use the download buttons to download your data.
			p For more details and updates, 
				a(href='http://blog.eagerfeet.org/')
					| check out the blog
				|  or 
				a(href='http://twitter.com/eagerfeet')
					| follow me on twitter
				| .
			div.nike-login
				script(id='nikeoauth',
					data-clientid='#{nikeClientID}',
					data-userid='nobody',
					src='https://www.nike.com/profile/assets/oauth/js/nikeoauth.min.js')
