extends layout

block append main
	div.row
		div.logo.span12
			img(src='/img/header.png', width='820', height='110')
	div.row
		div.span8
			h1 Welcome to eagerfeet, Limited Preview Edition!
			p Please use the button below to log in using your Nike+ credentials. Once logged in, you will see a list of your most recent runs. You will not be able to actually export those runs at this point, but you will be in a few days.
			p For more details and updates, 
				a(href='http://blog.eagerfeet.org/')
					| check out the blog
				|  or 
				a(href='http://twitter.com/eagerfeet')
					| follow me on twitter
				| .
			div.nike-login
				script(id="nikeoauth",
					data-clientid="54dff1e61f4ac4a56c98ad57ef3ed377",
					data-userid="nobody",
					src="https://www.nike.com/profile/assets/oauth/js/nikeoauth.min.js")
