html, body {
	background-color: #eee;
}

body {
	padding-top: 40px;
}

.container {
	width: 820px;
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
	margin-left: 0;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.topbar .btn {
	border: 0;
}
  
#progress {
	display: none;
}

div.run {
	background-color: #eee;
	padding: 5px;
	margin-bottom: 1em;
	margin-right: 1em;
}

div.run > p {
	margin-bottom: 0;
}

span.title {
	font-weight: bold;
	font-size: 1.5em;
}

#tweetbutton {
	width: 55px;
	height: 62px;
	float: right;
	margin: 5px;
}

p.units {
	text-align: right;
}

.download {
	float: right;
}

.alert-message {
	margin-right: 1em;
}

#alert {
	display: none;
}
