/* @override http://eagerfeet.org/eagerfeet.css */

body {
	font-family: sans-serif;
}

div.run {
	background-color: #eaeaea;
	padding: 3px;
	margin-bottom: 1em;
}

span.title {
	font-weight: bold;
	font-size: 1.5em;
}

#progress {
	display: none;
}

p {
	margin: 0 2px 5px;
}

div#header {
	height: 150px;
	margin-bottom: 20px;
}

p.error {
	background-color: #ffe5e6;
	color: #ff1e17;
	padding: 5px;
	border-color: #ff1e17;
	border-style: solid;
}

div#sidebar {
	float: right;
	width: 350px;
	background-color: #e0effd;
	padding: 3px;
	margin-top: 40px;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

div#main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

form {
	height: 25px;
	margin-bottom: 15px;
}

div#list {
	float: left;
	width: 590px;
}
