/* @override http://eagerfeet.org/eagerfeet.css */

body {
	font-family: sans-serif;
}

li {
	margin-bottom: 3px;
}

div.run {
	background-color: #eaeaea;
	padding: 3px;
	margin-bottom: 1em;
}

span.title {
	font-weight: bold;
	font-size: 1.5em;
}

#progress {
	display: none;
}

p {
	margin: 0 2px 5px;
}

div#header {
	height: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
}

p.error {
	background-color: #ffe5e6;
	color: #ff1e17;
	padding: 10px;
	border-color: #ff1e17;
	border-style: solid;
}

div#sidebar {
	float: right;
	width: 360px;
	background-color: #e0effd;
	padding: .7em;
	margin: 0 0 10px;
}

h2 {
	margin: 0 2px;
}

div#main {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

form {
	height: 60px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#userID {
	width: 560px;
}

div#list {
	float: left;
	width: 560px;
	margin: 0;
}

div#eagereyes {
	width: 360px;
	height: 70px;
	margin: 10px auto 5px;
}

#tweetbutton {
	width: 55px;
	height: 62px;
	float: right;
	margin: 5px;
}

a img {
	border: none;
}

p.units {
	text-align: right;
}

#map img {
	padding-bottom: 10px;
}